[mysqld]
pid-file                 = {{ percona_cluster_general.pidfile|default("/var/run/mysqld/mysqld.pid", true) }}
bind-address             = {{ percona_cluster_general.bind_address|default("127.0.0.1", true) }}
datadir                  = {{ percona_cluster_general.datadir|default("/var/lib/mysql", true) }}
expire-logs-days         = {{ percona_cluster_general.expire_log_days }}
max_allowed_packet       = {{ percona_cluster_general.max_allowed_packet|default("67108864", true) }}
log_error                = /var/log/mysql/error.log
binlog_format            = ROW
default_storage_engine   = InnoDB

{% if percona_cluster_global_params is defined %}{% for param, value in percona_cluster_global_params.items() %}
{{ param }} = {{ value }}
{% endfor %}{% endif %}


# InnoDB
innodb_flush_log_at_trx_commit = 1
innodb_flush_method            = O_DIRECT
innodb_locks_unsafe_for_binlog = 1
innodb_autoinc_lock_mode       = 2
innodb_large_prefix            = {{ "on" if percona_cluster_general.innodb_large_prefix else "off" }}
{% if percona_cluster_general.innodb_buffer_pool_size is defined %}
innodb_buffer_pool_size        = {{ percona_cluster_general.innodb_buffer_pool_size }}
{% elif ansible_memtotal_mb > 32000 %}
innodb_buffer_pool_size        = {{ (ansible_memtotal_mb - 32000)*1024*1024 }}
{% else %}
innodb_buffer_pool_size        = 128M
{% endif %}

