[mysqld]

# wsrep
wsrep_cluster_address   = {{ percona_cluster_node.wsrep_cluster_address }}
wsrep_cluster_name      = {{ percona_cluster_node.wsrep_cluster_name }}
wsrep_node_address      = {{ percona_cluster_node.wsrep_node_address }}
wsrep_node_name         = {{ percona_cluster_node.wsrep_node_name }}
wsrep_provider          = {{ percona_cluster_node.wsrep_provider }}
wsrep_sst_method        = {{ percona_cluster_node.wsrep_sst_method }}
wsrep_sst_auth          = {{ percona_cluster_node.sst_username }}:{{ percona_cluster_node.sst_password }}
{% if percona_cluster_node.wsrep_slave_threads|length %}
wsrep_slave_threads     = {{ percona_cluster_node.wsrep_slave_threads }}
{% else %}
wsrep_slave_threads     = {{ ansible_processor_cores }}
{% endif %}
{% if percona_cluster_wsrep_notify.enabled and percona_cluster_wsrep_notify.script_path|length %}
wsrep_notify_cmd        = "{{ percona_cluster_wsrep_notify.script_path }}"
{% endif %}
{% if percona_cluster_node.wsrep_provider_options|length %}
wsrep_provider_options  = "{{ percona_cluster_node.wsrep_provider_options }}"
{% endif %}
